body {
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
  color: olivedrab;
}

a:visited {
  color: darkolivegreen;
}

img {
  width: 100px;
  height: 100px;
}

hr {
  background-color: #1b4965;
  height: 2px;
  
}

button {
  color: white;
  background-color: green;
  border-radius: 20%;
  height: 1.5rem;
}