.petlist {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.petrow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.petrow img {
  height: 10rem;
  width: 10rem;
}

.petrow .selectbutton button {
  background-color: pink;
  color: green;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
  padding: 5px;
  margin-top: 5px;
}

.petrow .selectbutton button:hover {
  background-color: green;
  color: pink;
}
