
.quotes small {
    font-style: italic;
}

.quotes {
    width: 20em;
    margin: auto;
}

.homeHeader {
    background-color: #F5AE98;
    padding: 1rem;
    color: white;
    border-radius: 25px;
    border: solid 1px white;
    width: 10em;
    margin: auto;
    margin-bottom: 4px;
}