/* styling for sign up form */

.container{
    display: flex;
    margin: 10vh;
    padding: auto;
    text-align: center;
}

.container h1 {
    background-color: #F5AE98;
    padding: 1rem;
    color: white;
    border-radius: 25px;
    width: 14em;
    margin: auto;
    margin-bottom: 4px;

}

.signUpForm {
    width: 80%;
    height: 80%;
    margin: 0vw;
    padding: 5vw;
    display: inline-block;
    border: thick double #1b4965;
    border-radius: 20px;
    
}

.signUpForm label {
    padding: 1rem;
}

.signUpForm input {
    display: block;
    height: 3vh;
    padding: .5rem .8rem .5rem .8rem;
    margin: .9vw 0;
    border-radius: 20px;
}

.signUpForm span{
    display: inline-block;
    padding-bottom: 1rem;
 } 

 .profilePicUrl {
    padding-bottom: 3vh;
    justify-items: center;
    margin-bottom: 3px;
    height: 100px;
}

.profilePicUrl input::file-selector-button {
    font-family: Poppins;
    padding-left: 1rem;
    padding-right: 1rem;
    border: thin solid black;
    border-radius: 20px;
    height: 3vh;
    background-color: white;
    text-align: center;
    justify-items: center;
}

/* styling for login form */

.loggedInForm {
    width: 80%;
    height: 8%;
    margin: 0vw;
    padding: 5vw;
    display: inline-block;
     border: thick double #1b4965;
    border-radius: 20px;
   
}

.loggedInForm label {
    padding: 1rem;
}

.loggedInForm input {
    display: inline-block;
    height: 3vh;
    padding: .5rem .8rem .5rem .8rem;
    margin: .9vw 0;
    border-radius: 20px;
}

.loggedInForm span{
   display: inline-block;
   padding: 1rem;
} 