.container{
    margin: 10vh;
    padding: auto;
    text-align: center;
}

.signUpForm {
    width: 80%;
    height: 100vh;
    margin: 0vw;
    padding: 5vw;
    display: inline-block;
   
}

.signUpForm input {
    display: block;
    height: 3vh;
    padding: .5rem .8rem .5rem .8rem;
    margin: .9vw 0;
    border-radius: 20px;
}

.loggedInForm {
    width: 80%;
    height: 100vh;
    margin: 0vw;
    padding: 5vw;
    display: inline-flex;
   
}

.loggedInForm input {
    display: block;
    height: 3vh;
    padding: .5rem .8rem .5rem .8rem;
    margin: .9vw 0;
    border-radius: 20px;
}