.editUser {
    display: flex;
    text-align: center;
}

.editUser h3 {
    font-size: 1.5rem;
}

.editUser form {
    background-color: rgb(249, 232, 210);
    width: 70%;
    height: 100vh;
    margin-left: 13rem; 
    display: inline-block;
    align-items: center;
    border: thick double #1b4965;
    border-radius: 20px;
}

.editUser form label {
    /* padding: 1rem; */
    font-weight: bold;
}

.editUser form input {
    display: block;
    display: inline-block;
    background-color: seashell;
    height: 3vh;
    padding: 0.5rem;
    margin: .9vw 0;
    border-radius: 20px;
}

.editUser form input::-webkit-file-upload-button {
    background-color: rgb(62, 138, 78);
    color: white;
    font-family: Poppins;
    padding: 2px 2px;
    font-weight: bold;
    font-size: 14px;
    border-radius: 12px;
}

.editUser form input::-webkit-file-upload-button:hover {
    background-color: rgb(245, 174, 152);
}

.editUser form span{
   display: inline-block;
} 