.editUser {
    display: inline-flexbox;
    text-align: center;
}

.editUser button {
    background-color: green;
    color: white;
    padding: 12px 12px;
    text-decoration: none;
    display: inline-block;
    font-family: Poppins;
    font-size: 16px;
    border-radius: 12px;
}

.editUser button:hover {
    background-color: rgb(19, 171, 171);
}