.loggedOut {
    column-count: 3;
}

.petChoice span {
    display: inline-block;
    font-weight: bold;
}

.petChoice {
    text-align: center;
    display: inline-flex;
    padding-top: 1rem;
}

.productivity span {
    display: inline-block;
    padding-top: 1rem;
}

.productivity {
    text-align: center;
    padding-top: .4rem;
}

.image span {
    display: inline-block;  
    padding-top: 1rem;
}

.image {
    display: center;
    padding-top: .4rem;
    justify-content: center;
    text-align: center;
}
