.loggedIn {
    columns: 3;
    text-align: center;
}

.quotesContainer {
    break-inside: avoid;
}
.petContainer {
    break-inside: avoid;
}

.todosContainer {
    break-inside: avoid;
}

@media screen and (max-width: 1151px){
    .loggedIn {
        display: flex;
        flex-flow: column wrap;
        gap: 2em;
    }
}