.loggedIn {
    columns: 3;
    text-align: center;
}

.quotesContainer {
    break-inside: avoid;
}
.petContainer {
    break-inside: avoid;
}

.todosContainer {
    break-inside: avoid;
}


@media (max-width: 450px){
    .loggedIn {
        display: flex;
        flex-flow: wrap;
        justify-content: center;
        gap: 3em;
        width: 100%;
    }
    h3 {
        display: flex;
        justify-content: center;
    }
}