@media (min-width: 375px) and (max-width: 1440px) {
}

.loggedOut {
  column-count: 3;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  margin: 5px;
  padding: 5px;
  display: inline-block;
  column-count: 3;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  margin: 5px;
  padding: 5px;
  display: inline-block;
}

.petChoice span {
  display: inline-block;
  font-weight: bold;
  margin: 1rem;
}

.petChoice img {
  border-radius: 10px;
}

.petChoice span p {
  color: green;
  background: white;
  border-radius: 20px;
}

.petChoice h3 {
  background-color: #f5ae98;
  padding: 1rem;
  color: white;
  border-radius: 25px;
  width: 14em;
  margin: auto;
  margin-bottom: 4px;
}

.petChoice {
  text-align: center;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  break-inside: avoid;
  padding: 15px;
  margin: 0 auto;
}

.productivity {
  text-align: center;
  display: flex;
  flex-direction: column;
  break-inside: avoid;
  padding: 15px;
}

.productivity h3 {
  background-color: #f5ae98;
  padding: 1rem;
  color: white;
  border-radius: 25px;
  margin: auto;
  margin-bottom: 4px;
  width: 14em;
}

.productivity p {
  margin-bottom: 3rem;
}

.productivity .signUp:hover {
  background-color: olivedrab;
}

.signUp {
  display: flex;
  break-inside: avoid;
  background-image: url("../../../public/homepagefigure.png");
  background-size: contain;
  background-repeat: no-repeat;
  padding-bottom: 100%;
  padding-top: 15%;
  background-position: center;
}

img {
  width: 150px;
  height: 150px;
  border-radius: 15%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
}
img:hover {
  transform: scale(1.1);
}

@media (max-width: 450px) {
  .loggedOut {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-flow: wrap;
  }
}
