.navbar {
    box-sizing: border-box;
    position: sticky;
    padding-top: 2rem;
    width: 100%;
    justify-content: space-between;
}

.navbar h1{
    text-align: center;
    margin-top: 5rem;
    font-family: 'Rubik Moonrocks', cursive;
    font-size: 3rem;
    color: green;
}
.navbar a{
    float: right;
    padding: 1.5rem;
}

.navbar h1 img {
    display: inline;
    height: 70px;
    width: 60px;
    margin-left: 0.4rem;
}



