.userProfile {
    display: inline-flexbox;
    text-align: center;
}

.userProfile header {
    background-color: rgb(249, 232, 210);
    border: thick double #1b4965;
    border-radius: 20px;
    border-width: medium;
    padding: 5px;
    margin-left: 20rem;
    margin-right: 20rem;
}

/* This controls image size for user's profile picture */
.userProfile header img {
    height: 13rem;
    width: 17rem;
}

/* This controls image size for friends list on user's profile page */
.userProfile img {
    height: 7rem;
    width: 7rem;
}